body, html{
     height: 100%;
    margin: 0;
	/* background-image: url(fon.jpg); */

}
.bg {
    /* The image used */
    background-image: url("fon.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
  /* background-image: url("1.png"); */
  /* width: 500%; */
  /* border: none; */
  /* height: 500%; */
  position: absolute;
  top: 70px; left: 15px; 

}
.logo img{
  width: 600px;
  height: 185px;
}
.begin{
  font-family: Roboto;
  text-align: left;
  position: absolute;
  top: 39%;/*Переделать в процентное соотношение. Проверить на разных диагоналях экранов*/
  left: 33%;
  font-size: 64px;
  color: white;
  margin-bottom: 10px;
}
.numberPhone{
  font-family: Roboto;
  /* position:fixed; */
  /* width: 40; */
  float: right;
  text-align: right;
  color: white;
  font-size: 32px;
  padding-top: 30px; /*Надо проверить как будет смотреться на других мониторах*/
  padding-right: 40px;
  /* position; */
  /* top:0px; */
  /* left: 1200px; */
  
  /* right: 50; */
}
.numberPhone ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.numberPhone ul li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
}
.numberPhone ul li a{
  color:white;
  font-size: 24px;
  line-height: normal;
  text-overflow: ellipsis;
  text-decoration:none;
}
.textAfterBegin{
  font-family: Roboto;
  /* text-align: left; */
  /* position: absolute; */
  top: 70%;
  left: 0%;
  right: -31%;
  font-size: 32px;
  color: white;
}
.advantagesShop{
  background-color: #C29545;
  /* height: 100%;  */
  padding-bottom: 70px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.arr2{
  /* display: flex; */

  width: 40%;
  margin-left: 2%;
  margin-bottom: 2%;
  background: #fff;
}
.col_5{
  width: 100%;
  /* justify-content: space-between; */
  /* padding-left: 160px; */
}
.svg{
  position: relative ;
  left:20px;
  top:20px;
  width: 105px;
  float: left;
  /* margin-top: 20px;
  margin-left: 20px;
  width: 105px; */
  /* margin-bottom: 20px;
  margin-right: 20px; */
}
.txt1{
  width:calc(100% - 160px);
  padding-left: 125px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.productShop{
  background-color: #CDBEA7;
  /* height: 100%;  */
  padding-bottom: 70px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerTextProduct{
  padding-top: 5%;
  text-align: center; 
  color: black;
  font-size: 64px; 
  margin-bottom: 10px;
}
.recipeText {
  padding-top: 1px;
  text-align: center; 
  color: black;
  font-size: 64px; 
  margin-bottom: 10px;
  position: relative;
  /* opacity: 1.4; */
  /* filter: alpha(opacity=40); */
}
.catalog{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  padding-left: 12%;
  padding-right: 12%;
  /* margin-left: -10px;
  margin-right: 10px; */
}
.arr1{
  width: 31%;
  margin-left: 2%;
  margin-bottom: 2%;
  background: #fff;
}
.col_4{
  position: relative;
    width: 100%;
    margin-right: 20px;
    padding-top: 0;
    padding-bottom: 30px;
    
}
.image{
  width: 100%;
  height: 100%;
}
.col_bg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.bg2{
  background-color: #F3EBDD;
  /* height: 100%;  */
  padding-bottom: 70px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutShopHead{
  padding-top: 3%;
  text-align: center;
  color: black;
  font-family: Roboto;
  font-size: 64px;
  /* padding-top: 690px; */

}
.aboutShopText{
  /* text-align: justify;
  left: 130px; */
  padding-left: 130px;
  padding-right: 130px;
  margin-bottom: 3%;
  /* padding-bottom: 70px; */
  /* margin: 0px; */

  color: black;
  font-family: Roboto;
  font-size: 32px;
}
.recipe{
  /* background-color: #CDBEA7; */
  background-image: url("cooking.jpg");
  /* -webkit-filter: blur(3px);
	filter: blur(3px); */
  height: 100%; 
  position: relative;
  /* background-color: rgba(255, 0, 0, 0); */
  /* opacity: 0.4; */
  /* filter: alpha(opacity=40); */

  /* padding-bottom: 70px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mapAndContacts{
  background-color: #2A2922;
  /* height:70%;  */
  padding-bottom: 70px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover; 
  
}
.map{
  /* text-align: left; */
  width: 60%;
  height: 450px;
  float: left;
  /* overflow: hidden; */
  padding-top: 2%;
  /* margin-right: 60%; */
  /* padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 60%; */
}
.text{
  /* float: right; */
  width: 35%;
  padding-top: 80px;
  /* text-align: right; */
  margin-left: 65%;
  /* padding-left: 50%;
  padding-bottom: 5%; */
}
.social-icons {
  /* text-align: center; */
  /* width: 20%; */
  padding-left: 33%;
  padding-top: 0%;
  /* padding-bottom: 80%; */
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  /* -webkit-user-select:none;
  -moz-user-select:none; */
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  /* padding-left: %; */
  /* padding-top: 0%;
  padding-right: 5%; */
  width:40px;
  height:40px;
  /* margin-right: -60%; */
}
.end{
  background-color: white;
  /* position: relative;
  width: 100%;
  height: 100%; */
  /* height:70%;  */
  /* padding-top: 70px; */
  /* margin-bottom: 100%; */
  /* padding-bottom: 70px; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover; 
}
.video{
  
  width: 65%;
  /* height: 630px; */
  object-fit: contain;
  position:relative;
}